.back-to-top{
  height: 15px;
  margin-top: -20px;
  float: right;
}

.contact_ {
  display: flex;
  flex-direction: row;
  margin-top: 80px;
  justify-content: space-around;
  padding: 70px 20px 20px;
  border-top: 1px solid #203e91;
  /*background-color: #0F4C81;*/
  background-color: #203e91;
  color: rgb(172, 169, 169);
}
.contact_ h2{
  font-weight: 700;
}

li {
  margin-top: 15px;
  color:rgb(172, 169, 169);
  font-weight: 600;
}

.column1 {
  margin-top: 15px;
  margin-left: 20px;
}
.column1 p{
  margin-top: 5px;
  text-align: left;
  font-weight: 500;
}

.column2 {
  margin-top: 15px;
  margin-left: 10px;
}
 .contact_links{
  font-family: 'proxima-nova','Open Sans',sans-serif;
  font-size: 14px;
  color: rgb(172, 169, 169);
  letter-spacing: 0.20rem;
  margin-top: 7px;
  cursor: pointer;
}
.link_c:hover{
  transform: scale(1.5);
}



.column3 {
  padding-top: 20px;
}

.icon_c_inst, .icon_c_yt, .icon_c_fb, .icon_c_li {
  font-size: 30px !important;
  font-weight: 100 !important;
  padding: 5px;
  margin: 10px 0 0 5px;
  color: #203e91;
  cursor: pointer;

  height: 35px; width:35px;
  border-radius: 50%;
  background-color: rgb(172, 169, 169);
}

 h2 {
  font-size: 19px;
  font-weight: 800;
  letter-spacing: 0.20rem;
  color: white;
}
.ip {
  cursor: pointer;
}
.side {
  font-weight: 900;
  color: white;
}

.c1_info{
  width:100%;
}
.c1_info ul{
  display: flex;
  flex-direction: column;
  color: rgb(172, 169, 169);
}
.c1_info ul li{
  letter-spacing: 0.20rem;
  font-size: 13px;
}

.c2_info {
  display: flex;
  flex-direction: column;
  color: rgb(172, 169, 169);
}

.c2_info ul{
  display: flex;
  flex-direction: column;
}


.copyright {
  height: 45px;
  /*background-color: #0F4C81;*/
  background-color: #203e91;
  text-align: center;
  margin-top: -2px;
  padding: 10px 0;
}
.copyright p{
  color:  rgb(172, 169, 169);
  font-family: 'Poppins';
  font-size: 13px;
}

@media only screen and (max-width:728px){
  .contact_{
    text-align: center;
    display: flex;
    flex-direction: column;
  }
  .column1, .column2,.column3{padding: 10px 0;}
  .c2_info{ margin: 0 auto; }
  .c2_info ul{
    display: flex;
    flex-direction: row;
    margin:0 auto;
  }
  .c2_info ul li{ padding: 0 4px; }
  .c1_info { margin: 0 auto;}
}