.magazine{ margin-top: 50px; }
.mag-heading h1{
    font-family: 'Poppins';
    text-align: center;
    color: #204095;
    font-size: 60px;
}
.magazine-section{
    margin: 50px 25% 0 25%;
    width: 50%;
    border: #204095 solid;
    justify-content: center;
}

@media only screen and (max-width:800px) {
    .magazine-section{
        margin: 50px 1%;
        width:99%;
    }
    }